:root {
  --vp-c-brand-1: #d4f7f7;
  --vp-c-brand-2: #b8eded;
  --vp-c-brand-3: #9ddada;

  --vp-c-brand-soft: rgba(212, 247, 247, 0.14);
  --vp-c-brand-dimm: rgba(212, 247, 247, 0.08);
}

.dark {
  --vp-c-brand-1: #e8fcfc;
  --vp-c-brand-2: #d4f7f7;
  --vp-c-brand-3: #b8eded;

  --vp-c-brand-soft: rgba(232, 252, 252, 0.16);
  --vp-c-brand-dimm: rgba(232, 252, 252, 0.1);
}
